body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    /* padding:15px 0 15px 20px; */
    padding: 0;
    list-style-type: none;
    width: 200px;
    background-color: lightgray;
}
/* ul>li{
    height: 50px;
    margin: 10px 0;
    padding-left: 10px;
  
}
ul>li:hover{
    background-color: gray;
} */
li{
    border: 1px solid black
}
li a{
    display: block;
    padding: 10px;
    text-align: center;
}
li a:hover{
    background-color: gray;
    color: white;
}
.active{
    background-color: #04AA6D;
    color: white;
}