@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
body{
    /* border: 1px solid #000; */
    width: 100%;
}
.main-container{
    /* border: 2px solid red; */
    width: 100%;
    /* border: 1px solid #000; */
}

.nav-bar>nav{
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.links{
    /* border: 1px solid orange; */
    min-width: 350px;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
}
.links>li>a, .links>li>a>i{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}

.links>li>a:hover{
    color: #088178;
}
.links>li>a:hover::after{
    
    content: "";
    width: 80%;
    height: 2px;
    background:#088178 ;
    position: absolute;
    bottom: -4px;
    left: 0px;
    
    
    /*  */
}
.logo>a>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.hero{
    /* border: 1px solid #000; */
    background-image: url('./ImagesLogos/hero4.png ');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 20%;
    margin-top: 80px;
    /* background-position: top 25% right 0; */
    /* background-size: cover; */
    
}
.ad{
    /* border: 1px solid #000; */
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-left:20px;
    margin-left:80px;
   
}
.ad>h2{
    font-size: 40px;
}
.ad>h1{
    font-size: 50px;
    color: #088178;
}
.ad h5{
    padding-bottom: 15px;
    font-size: 20px;
}
.ad p{
    color: gray;
}
.ad button{
    background-image: url('./ImagesLogos/button.png');
    padding: 10px 20px;
    padding: 18px 66px 12px 75px;
    border: none;
    color: #088178;
    background-color: #E3E6F3;
    background-repeat: no-repeat;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
}
.All-features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    min-height: 200px;
    gap: 5px;
}
.feature img{
    height: 100px;
    width: 120px;
}
.feature button{
    font-weight: 700;
    border-radius: 5px;
    border: none;
    color: #088178
    /* display: inline-block; */
}
.feature>.free{
    background-color: #fddde4;
    color: #088178
}
.feature>.Online{
    background-color: #cdebbc;
}
.feature>.Money{
    background-color: #d1e8f2;
}
.feature>.Promo{
    background-color: #cdd4f8;
}
.feature>.sell{
    background-color: #f6dbf6;
}
.feature>.support{
    background-color: #fff2e5;
}
.feature{
    border: 1px solid #cce7d0;
    /* width: 150px; */
    height: 100%;
    display: grid;
    /* gap: px; */
    padding: 20px;
    box-shadow: 20px 20px 35px rgba(0,0,0,0.03);
    border-radius: 5px;
    margin: 10px 5px;
}
.feature:hover{
    cursor: pointer;
    transform: scale(1.1);
   
    transition: transform 0.9 ease;
}
.feature>button:hover{
    cursor: pointer;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 10px;
}
.title>h2{
    font-size: 50px;
    font-weight: 500;
}
.title p{
    color: gray;
}
.image img{
    width: 240px;
    height: 200px;
    border-radius: 10px;
}
.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.image-holder{
    

    width: 270px;
    height: 350px;
    border: 1px solid lightgray;
    margin: 25px;
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: 0.1s ease-in-out;
}
.image-holder:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.description h5 {
    font-size: 17px;
}


.image-holder .description{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    height: 50px;
    gap: 10px;
    margin-top: 0;
    /* width: 30px; */
    /* padding: 20px 0 40px 0; */
    
}
.stars{
    /* border: 1px solid orange; */
    margin-top: -10px;
}
.price-cart{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 20px;
    color: #088178;
}

.price-cart a i{
    height: 35px;
    width: 35px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #088178;
    background-color: #e8f6ea;
    border: none;
}
a{
    text-decoration: none;
}
.price-cart span{
    font-weight: 600;
}
.bxs-star{
    color: #FDB813;
}
.price-cart a i:hover{
    background-color: #088178;
    color: #fff;
}
.offer{
    background-image: url('./ImagesLogos/banner/b2.jpg');
    /* border: 1px solid #000; */
    height: 300px;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin-bottom: 20px;
    position: relative;
}
.offer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:3px solid #fff; */
    height: 150px;
    gap: 20px;
}
.offer-text p{
    font-weight: 800;
    font-size: 20px;
}
.offer-text h2{
    font-size: 25px;
}
.offer-text button{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(107, 107, 107);
    font-size: 15px;
}
h2>span{
    color: red;
}
.offer-text button:hover{
    /* background-color: rgb(181, 2, 2); */
    background-color: #088178;
    color: #fff;
    border: none;
}
.arrival-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 10px;
    margin: 40px;
}
.arrival-text>h2{
    font-size: 50px;
    font-weight: 500;
}
.arrival-text p{
    color: gray;
}
.sales-offer{
    /* border: 2px solid #000; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 22px;
    /* display: grid;
    gap: 30px;
    grid-template-rows: 1.5fr 1.25fr;
    grid-template-columns: 1fr 1.25fr 1fr; */
}
.sales-offer>.first{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 580px;
    height: 50vh;
    
    background-position: center; */


    background-image: url('./ImagesLogos/banner/b17.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 45vw;
    
}
.sales-offer>.second{
    /* grid-column: span 2; */
    background-image: url('./ImagesLogos/banner/b10.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 45vw;
    /* height: 100%; */
    background-position: center;
}
.sales-offer>.third{
    background-image: url('./ImagesLogos/banner/b7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27vw;
    height: 210px;
    /* height:280px; */
}
.sales-offer>.fourth{
    background-image: url('./ImagesLogos/banner/b4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 34vw;
    height: 210px;
    /* height:280px; */
}
.sales-offer>.fifth{
    background-image: url('./ImagesLogos/banner/b18.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27vw;
    height: 210px;
    /* height:280px; */
}

.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 15px;
    padding: 17px;
}
.offer button{
    width: 100px;
    height: 40px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.sales-offer>.first:hover button, .sales-offer>.second:hover button{
    cursor: pointer;
    background-color: #088178;
    color:#fff;
    border: none;
}
.offer p{
    font-size: 20px;
}
.offer h2{
    font-size: 23px;
}
.offer h5{
    font-size: 15px;
    color: rgb(215, 2, 2);
}

.newsLetter{
    background-image: url('./ImagesLogos/banner/b14.png');
    height: 210px;
    width: 100%;
    background-color: #041e42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #fff;
    gap: 20px;
}
.label-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp input{
    height: 40px;
    border-radius: 3px;
}
input[type='text']{
    margin-right: -5px;
    width: 300px;
    padding: 0 0 0 10px;
    outline: none;
}
input[type='submit']{
    width: 70px;
    background-color: #088178;
    cursor: pointer;
    border: none;
    color: #fff;
}
.label-input p{
    font-weight: 500;
}
.label-input p span{
    color: burlywood;
}
.first-col a img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.footer{
    margin: 40px 0;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.first-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.information p span{
    color: rgb(61, 61, 61);
    font-weight: 600;
}
.information p{
    font-weight: 400;
    color: gray;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icons ul li{
   list-style-type: none;
}
.icons ul{
    display: flex;
    gap: 5px;
}
#bx-menu, #bx-right-arrow-alt{
    display: none;
}

.icons ul li a i{
    font-size: 25px;
}
.second-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul li{
    list-style-type: none;
 }
 ul li a{
    text-decoration: none;
    color: gray;
    font-weight: 400;
 }
 .about{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .third-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .account{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .fourth-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .para2 p,.para1 p{
    color: gray;
    font-weight: 400;
 }
 .app-play{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   
 }
 .app-play img{
    border: 0.5px solid #088178;
    border-radius: 5px;
 }

 @media (max-width:1025px) and (max-height: 1367px){
    #bx-menu,#bx-right-arrow-alt{
        display: inline;
    }
   .links{
        width: 100px;
        height: 100vh;
        list-style-type: none;
        background-color: #E3E6F3;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 15px rgba(0,0,0,0.06);
        position: fixed;
        top: 0;
        right: 0;
        padding: 50px 40px 400px 20px;
        transition: 0.2s ease-in-out;
    }
    .ad {
        height: 100%;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-left: 20px;
        margin-left: 10px;
        padding-bottom: 70px;
    }
    .All-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px;
        min-height: 200px;
        gap: 5px;
        padding: 20px 125px;
    }
    .feature {
        border: 1px solid #cce7d0;
        width: 260px;
        height: 260px;
        display: grid;
        place-items: center;
        padding: 20px;
        box-shadow: 20px 20px 35px rgba(0,0,0,0.03);
        border-radius: 5px;
        margin: 10px 5px;
    }
    .feature button {
        font-weight: 700;
        border-radius: 5px;
        border: none;
        font-size: 26px;
        padding: 11px;
        color: #088178 
    }
    .feature img {
        height: 150px;
        width: 192px;
    }
    .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 70px;
}
.sales-offer>.first {
    background-image: url(./ImagesLogos/banner/b17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 100vw;
}
.sales-offer>.second{
    background-image: url(./ImagesLogos/banner/b10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 100vw;
}
.sales-offer>.third{
    background-image: url(./ImagesLogos/banner/b7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 25vw;
}
.sales-offer>.fourth{
    background-image: url(./ImagesLogos/banner/b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 25vw;
}
.sales-offer>.fifth{
    background-image: url(./ImagesLogos/banner/b18.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 25vw;
}
#bx-menu:hover, #bx-right-arrow-alt:hover{
    cursor: pointer;
}
 }

 @media (max-width:450px) and (max-height: 1000px){
    #bx-menu,#bx-right-arrow-alt{
        display: inline;
    }
    .links{
        width: 50vw;
        height: 100vh;
        list-style-type: none;
        background-color: #E3E6F3;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 15px rgba(0,0,0,0.06);
        position: fixed;
        top: 0;
        right: 0;
        padding: 50px 40px 400px 20px;
        transition: 0.2s ease-in-out;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding: 10px;
        gap: 20px;
    }
    .title>h2 {
        font-size: 43px;
        font-weight: 500;
    }
  
    .hero {
        /* border: 1px solid #000; */
        background-image: url(./ImagesLogos/hero4.png);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 35%;
        margin-top: 80px;
        /* background-position: top 25% right 0; */
        /* background-size: cover; */
    }
    .ad {
        height: 100%;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        padding-left: 0px;
        margin-left: -12px;
        padding-bottom: 117px;
    }
    .ad>h2 {
        font-size: 30px;
    }
    .ad button {
        background-image: url(./ImagesLogos/button.png);
        padding: 10px 20px;
        padding: 18px 59px 12px 75px;
        border: none;
        color: #088178;
        background-color: #E3E6F3;
        background-repeat: no-repeat;
        font-size: 17px;
        cursor: pointer;
        font-weight: 700;
        margin: 25px 102px 0 0;
        border-radius: 34px;
    }
    .offer-text{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .offer-text>h2{
        padding: 0 0 0 40px;
    }
    .sales-offer>.first {
        background-image: url(./ImagesLogos/banner/b17.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 310px;
        width: 100vw;
    }
    .sales-offer>.second{
        background-image: url(./ImagesLogos/banner/b10.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 310px;
        width: 100vw;
    }
    .sales-offer>.third{
        background-image: url(./ImagesLogos/banner/b7.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 310px;
        width: 100vw;
    }
    .sales-offer>.fourth{
        background-image: url(./ImagesLogos/banner/b4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 310px;
        width: 100vw;
    }
    .sales-offer>.fifth{
        background-image: url(./ImagesLogos/banner/b18.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 310px;
        width: 100vw;
    }
    .label-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .inp{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .newsLetter {
        background-image: url(./ImagesLogos/banner/b14.png);
        height: 210px;
        width: 100%;
        background-color: #041e42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        color: #fff;
        gap: 20px;
    }
    input[type='text'] {
        margin-right: -5px;
        width: 250px;
        padding: 0 0 0 10px;
        outline: none;
    }
    footer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
}
.banner{
    height: 35vh;
    background-image: url('./ImagesLogos/banner/b1.jpg');
    background-position: center;
    margin-top: 90px;
    background-repeat: no-repeat;
    color: #fff;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner>h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.all-products>.products{
    margin-top: 20px;
}
.page-button{
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 5px;
}
.page-button button{
    width: 60px;
    border-radius: 5px;
    background-color: #088178;
    border: none;
    color: #fff;
}
.page-button button:hover{
    cursor: pointer;
    background-color: #066660;
}