/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
body{
    margin: 0;
    padding: 20px 200px;
    display: grid;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #dfdbf0;
}
.App-holder{

    border: 1px solid black;
    justify-content: center;
    position: relative;
    
}

label{
   position: absolute;
   left: 85%;
}

hr{
    margin-top: 20px;
    border: 1px solid #000;
}
li{
    list-style-type: none;
}
h1{
    font-weight: 900;
}
.input-button input{
    height: 40px;
    width: 300px;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
}
button{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    font-size: 25px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: #340FDE;
    color: #fff;
}
li{
    border: 1px solid black;
    height: 40px;
    width: 350px;
    
}
list-items{
    
} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
body{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #dfdbf0;
}
.main-container{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
}
.App-holder{
    /* border: 2px solid #000; */
    width: 400px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    font-weight: 900;
}
.input-button input{
    height: 40px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
}
button{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    font-size: 25px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: #340FDE;
    color: #fff;
}
hr{
    border: 1px solid #000;
    margin-top: 2px;
}
label{
    text-align: right;
}
li{
    list-style-type: none;
}
.list-items{
    border: 4px solid #fff;
    border-radius: 5px;
    height: 70px;
    margin: 10px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    /* visibility: hidden; */
}
ul{

    margin: 0;
    padding: 2px;
    padding-left: 20px;
    width: 99%;
    height: inherit;
}
li{
    width: inherit;
    height: inherit;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx{
    text-align: left;
}
i{
    height: 40px;
    width: 40px;
    padding: 9px;
    border-radius: 5px;
    display: flex;
    background-color: #340FDE;
    color: #fff;
    margin: 5px;
    font-size: 20px;
}
input[type="checkbox"] {
    margin-right: 10px; /* Adjust the spacing between checkbox and text */
    height: 20px; /* Set the desired height */
    width: 20px; /* Set the desired width */
}
input[type="text"]:hover{
    border: 1px solid #340FDE;
    transition: 0.2s;
}
button:hover, .bx:hover{
    cursor: pointer;
    background-color: #190a5c;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}